<section class="calendar">
  <div class="container">
    <div class="calendar__wrapper">
      <div class="calendar__preview">
        <img src="img/calendar.jpg" alt="calendar" />
      </div>
      <div class="calendar__calendar">
        <h2 class="calendar__title">
          Календарь <span></span>
          мероприятий
        </h2>

        <!-- <div class="calendar__content">
          <div class="calendar__popup">
            <p>15:00</p>
            <p>Купить молоко</p>
          </div>

          <div id="calendar" class="calendar__wrap"></div>
          <div class="calendar__legend legend">
            <div class="legend__item legend__item--red">Школа бизнеса</div>
            <div class="legend__item legend__item--yellow">Для новичков</div>
            <div class="legend__item legend__item--blue">Выезд за город</div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
