<section class="entrepreneurs">
  <div class="container">
    <h2 class="entrepreneurs__title">Для кого клуб</h2>
    <p class="entrepreneurs__text">Для предпринимателей, которые:</p>

    <ul class="entrepreneurs__list">
      <li class="entrepreneurs__item">
        ищут знакомства с топ- <br />
        предпринимателями
      </li>
      <li class="entrepreneurs__item">
        хотят выйти <br />
        на новые рынки
      </li>
      <li class="entrepreneurs__item">
        усилить внутреннюю <br />
        энергию
      </li>
      <li class="entrepreneurs__item">
        переросли свое <br />
        окружение
      </li>
      <li class="entrepreneurs__item">
        хотят постоянно <br />
        развивать бизнес
      </li>
      <li class="entrepreneurs__item">
        хотят масштабировать <br />
        бизнес
      </li>
      <li class="entrepreneurs__item">
        хотят путешествовать в окружении <br />
        предпринимателей
      </li>
      <li class="entrepreneurs__item">
        хотят посетить масштабные <br />
        бизнес мероприятия
      </li>
    </ul>
  </div>
</section>
