<section class="faqs">
  <div class="container">
    <div class="faqs__wrapper">
      <div class="faqs__right">
        <div class="faqs-accordion accordion">
          <button class="faqs-accordion__control accordion-control">
            Как попасть в клуб?
          </button>
          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown.
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <button class="faqs-accordion__control accordion-control">
            Где проходят встречи?
          </button>
          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown.
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <button class="faqs-accordion__control accordion-control">Сколько длятся встречи?</button>
          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown.
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <button class="faqs-accordion__control accordion-control">
            Сколько стоит вступить в клуб?
          </button>
          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown.
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <button class="faqs-accordion__control accordion-control">
            Что, если мне не понравится?
          </button>
          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="faqs__preview">
        <img src="img/faqs.png" alt="faqs" />
      </div>
    </div>
  </div>
</section>
