<section class="faqs">
  <div class="container">
    <div class="faqs__wrapper">
      <div class="faqs__right">
        <div class="faqs-accordion accordion">
          <button class="faqs-accordion__control accordion-control">
            Как попасть в клуб?
          </button>
          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Резидентом клуба может стать тот, кто разделяет ценности и имеет
                ежемесячный доход более 300 000 рублей.
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <button class="faqs-accordion__control accordion-control">
            Где проходят встречи?
          </button>
          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Встречи проходят по адресу метро Тульская , Павловская улица 18,
                площадка Открытый мир или в новых локациях.
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <button class="faqs-accordion__control accordion-control">
            Сколько длятся встречи?
          </button>
          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                У нас разные мероприятия по формату и таймингу. В среднем 3
                часа.
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <button class="faqs-accordion__control accordion-control">
            Что, если мне не понравится?
          </button>
          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                У нас есть пробные встречи , на которых Вы сможете понять
                подходит ли Вам наш клуб.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="faqs__preview">
        <img src="images/content/faqs.png" alt="faqs" />
      </div>
    </div>
  </div>
</section>
