<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="footer__logo logo" href="#">
        <img src="img/logo.png" alt="Логотип" />
        <span>бизнес — клуб для предпринимателей</span>
      </a>

      <div class="footer__socials socials socials--border">
        <ul class="socials__list">
          <li class="socials__item">
            <a
              class="socials__link socials__link--telegram"
              href="#"
              aria-label="telegram"
            ></a>
          </li>
          <li>
            <a
              class="socials__link socials__link--whatsapp"
              href="#"
              aria-label="whatsapp"
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__text">
        © 2022 Система. Все права защищены.
        <a href="#">Политика конфиденциальности.</a>
      </p>

      <div class="footer__developed developed">
        <span class="developed__text">Разработка сайта:</span>

        <a
          class="developed__logo"
          href="https://razrabotka-saita.ru/"
          target="_blank"
        >
          <img src="img/logo-company.png" alt="Адванс Медия" />
        </a>
      </div>
    </div>
  </div>
</footer>
