<header class="header">
  <!-- Mobile Menu -->

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo" href="#">
        <img src="images/logo-menu.png" alt="Логотип" />
      </a>

      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg width="19" height="19">
          <use xlink:href="images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu__body">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Бизнес разборы</a>
        </li>

        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Менторы</a>
        </li>

        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#">Календарь мероприятий</a>
        </li>
      </ul>

      <a class="mobile-menu__btn" href="#">Вход для резидентов клуба</a>

      <div class="socials socials--border">
        <ul class="socials__list">
          <li class="socials__item">
            <a
              class="socials__link socials__link--telegram"
              href="#"
              aria-label="telegram"
            ></a>
          </li>
          <li>
            <a
              class="socials__link socials__link--whatsapp"
              href="#"
              aria-label="whatsapp"
            ></a>
          </li>
        </ul>
      </div>

      <div class="contacts-links">
        <ul class="contacts-links__list">
          <li class="contacts-links__item">
            <a
              class="contacts-links__link contacts-links__link--phone"
              href="tel:+74951234567"
            >
              8 (495) 123 45 67
            </a>
          </li>
          <li class="contacts-links__item">
            <a
              class="contacts-links__link contacts-links__link--mail"
              href="mail:info@systema-club.ru"
            >
              info@systema-club.ru
            </a>
          </li>
          <li class="contacts-links__item">
            <address class="contacts-links__link contacts-links__link--address">
              Москва, Название улицы 10, офис 11
            </address>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->

  <div class="container">
    <nav class="header__wrapper">
      <a class="header__logo logo" href="index.html">
        <img src="images/logo.png" alt="Логотип" />
        <span>бизнес — клуб для предпринимателей</span>
      </a>

      <div class="header__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a
              class="socials__link socials__link--telegram"
              href="#"
              aria-label="telegram"
            ></a>
          </li>
          <li>
            <a
              class="socials__link socials__link--whatsapp"
              href="#"
              aria-label="whatsapp"
            ></a>
          </li>
        </ul>
      </div>

      <div class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Бизнес разборы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Менторы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Календарь мероприятий</a>
          </li>
        </ul>
      </div>

      <a class="header__btn" href="#"> Вход для резидентов клуба </a>

      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>
    </nav>
  </div>
</header>
