<section class="join">
  <div class="container">
    <div class="join__wrapper">
      <h2 class="join__title">Записаться на нетворкинг</h2>

      <form class="form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="name">Имя</label>
          <input
            class="form-submit__input"
            type="text"
            placeholder="Иван Иванов"
            id="name"
          />
          <span class="form-submit__line"></span>
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="phone">Телефон</label>
          <input
            class="form-submit__input"
            type="tel"
            placeholder="+7 (xxx) xxx - xx - xx"
            id="phone"
          />
          <span class="form-submit__line"></span>
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="niche">Ниша</label>
          <input
            class="form-submit__input"
            type="text"
            placeholder="Например, строительство"
            id="niche"
          />
          <span class="form-submit__line"></span>
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="income">Уровень дохода</label>
          <select class="form-submit__select" id="income">
            <option value="">Выберите из списка</option>
            <option value="1">до 300 тысяч</option>
            <option value="2">от 300 до 1 миллиона</option>
            <option value="3">более 1 миллиона</option>
          </select>
          <span class="form-submit__line"></span>
        </div>

        <div class="form-submit__bottom">
          <button class="form-submit__btn btn" type="submit">
            Отправить заявку
          </button>
          <div class="form-submit__agree">
            Отправляя заявку, Вы соглашаетесь на
            <a href="#">обработку персональных данных</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
