<section class="tabs">
  <div class="container">
    <div class="tabs__top">
      <ul class="tabs__top-list">
        <li class="tabs__top-item">
          <button class="tabs__top-btn tabs__top-btn--active" type="button">
            Направления
          </button>
        </li>
        <li class="tabs__top-item">
          <button class="tabs__top-btn" type="button">Менторы</button>
        </li>
        <li class="tabs__top-item">
          <button class="tabs__top-btn" type="button">Как вступить</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="tabs__content active">
    <section class="directions">
      <div class="directions__slider swiper">
        <ul class="directions__slides swiper-wrapper">
          <li class="directions__slide swiper-slide">
            <div class="directions__top">
              <img
                src="img/directions-slider/1.jpg"
                alt="directions"
              />
              <button class="directions__btn btn" type="button">
                Для новичков клуба
              </button>
            </div>

            <div class="container">
              <div class="directions__inner">
                <div class="directions__left">
                  <h2 class="directions__title">
                    Системный нетворкинг + наставничество
                  </h2>

                  <a class="directions__more btn" href="#">Подробнее</a>
                </div>
                <ul class="directions__list">
                  <li class="directions__item">
                    • 2 раза в месяц по четвергам
                  </li>
                  <li class="directions__item">
                    • Основная задача – обучить эффективному нетворкингу и
                    заложить основу системности в бизнесе, чтобы быстро выйти на
                    уровень чистого дохода 300000+ рублей в месяц.
                  </li>
                  <li class="directions__item">
                    • Наставники клуба с доходом 300000+ наблюдают за работой в
                    группах и отбирают лучших, чтобы довести новичков до своего
                    уровня быстро и без ошибок.
                  </li>
                </ul>

                <a
                  class="directions__more directions__more--mobile btn"
                  href="#"
                  >Подробнее</a
                >
              </div>
            </div>
          </li>
          <li class="directions__slide swiper-slide">
            <div class="directions__top">
              <img
                src="img/directions-slider/2.jpg"
                alt="directions"
              />
              <button class="directions__btn btn" type="button">
                Для новичков клуба
              </button>
            </div>

            <div class="container">
              <div class="directions__inner">
                <div class="directions__left">
                  <h2 class="directions__title">
                    Системный нетворкинг + наставничество
                  </h2>

                  <a class="directions__more btn" href="#">Подробнее</a>
                </div>
                <ul class="directions__list">
                  <li class="directions__item">
                    • 2 раза в месяц по четвергам
                  </li>
                  <li class="directions__item">
                    • Основная задача – обучить эффективному нетворкингу и
                    заложить основу системности в бизнесе, чтобы быстро выйти на
                    уровень чистого дохода 300000+ рублей в месяц.
                  </li>
                  <li class="directions__item">
                    • Наставники клуба с доходом 300000+ наблюдают за работой в
                    группах и отбирают лучших, чтобы довести новичков до своего
                    уровня быстро и без ошибок.
                  </li>
                </ul>

                <a
                  class="directions__more directions__more--mobile btn"
                  href="#"
                  >Подробнее</a
                >
              </div>
            </div>
          </li>
        </ul>

        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </section>
  </div>

  <div class="tabs__content">
    <section class="mentors">
      <div class="container">
        <h2 class="visually-hidden">Менторы</h2>

        <div class="mentors__slider swiper">
          <ul class="mentors__slides swiper-wrapper">
            <li class="mentors__slide swiper-slide">
              <article class="mentors-card">
                <a class="mentors-card__top" href="#">
                  <img src="img/mentors/1.jpg" alt="ментор" />
                </a>

                <div class="mentors-card__body">
                  <h3 class="mentors-card__title">
                    <a class="card-link" href="#">Азат Шигаев</a>
                  </h3>

                  <ul class="mentors-card__list">
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/gear.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Основные виды деятельности:</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          Переработка мусора, бурение спец-установками,
                          квест-комнаты, коммерческая недвижимость.
                        </p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/wallet.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Годовой оборот</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>1,5 миллиардов рублей</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/employee.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Количество сотрудников</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>Блее 200.</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/puzzle.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Увлечения</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          Развитие предпринимателей, публичные выступления,
                          здоровый образ жизни, системность во всех сферах.
                        </p>
                      </div>
                    </li>
                  </ul>

                  <div class="mentors-card__mobile">
                    <div class="mentors-card__mobile-text">
                      <p>
                        <span class="block">Основные виды деятельности:</span>
                        Переработка мусора, бурение спец-установками,
                        квест-комнаты, коммерческая недвижимость.
                      </p>
                      <p><span>Годовой оборот:</span> 1,5 млрд. руб.</p>
                      <p><span>Количество сотрудников:</span>200+.</p>
                      <p>
                        <span> Увлечения: </span>Развитие предпринимателей,
                        публичные выступления, здоровый образ жизни, системность
                        во всех сферах.
                      </p>
                    </div>
                  </div>

                  <a class="mentors-card__btn btn" href="#">Подробнее</a>
                </div>
              </article>
            </li>
            <li class="mentors__slide swiper-slide">
              <article class="mentors-card">
                <a class="mentors-card__top" href="#">
                  <img src="img/mentors/2.jpg" alt="ментор" />
                </a>

                <div class="mentors-card__body">
                  <h3 class="mentors-card__title">
                    <a class="card-link" href="#">Алексей Заборовских</a>
                  </h3>

                  <ul class="mentors-card__list">
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/gear.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Основные виды деятельности:</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          cтроительство по госконтрактам, обслуживание
                          инженерных сетей, гостиницы, пищевое производство,
                          ТБО.
                        </p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/wallet.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Годовой оборот</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>0,5 - 0,7 миллиардов рублей в год</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/employee.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Количество сотрудников</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>Блее 150</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/puzzle.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Увлечения</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          туризм по самым удаленным уголкам земного шара и
                          горнолыжка. Увлекаюсь идеями радикального продления
                          жизни, биохакинга и исследованием пространства за
                          пределами человеческой жизни.
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div class="mentors-card__mobile">
                    <div class="mentors-card__mobile-text">
                      <p>
                        <span class="block">Основные виды деятельности:</span>
                        Переработка мусора, бурение спец-установками,
                        квест-комнаты, коммерческая недвижимость.
                      </p>
                      <p><span>Годовой оборот:</span> 1,5 млрд. руб.</p>
                      <p><span>Количество сотрудников:</span>200+.</p>
                      <p>
                        <span> Увлечения: </span>Развитие предпринимателей,
                        публичные выступления, здоровый образ жизни, системность
                        во всех сферах.
                      </p>
                    </div>
                  </div>

                  <a class="mentors-card__btn btn" href="#">Подробнее</a>
                </div>
              </article>
            </li>
            <li class="mentors__slide swiper-slide">
              <article class="mentors-card">
                <a class="mentors-card__top" href="#">
                  <img src="img/mentors/3.jpg" alt="ментор" />
                </a>

                <div class="mentors-card__body">
                  <h3 class="mentors-card__title">
                    <a class="card-link" href="#">Иван Кудин</a>
                  </h3>

                  <ul class="mentors-card__list">
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/gear.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Основные виды деятельности:</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          Директор по развитию бизнес клуба СистемА. В прошлом
                          Основатель проекта для предпринимателей Школа
                          Здоровья. Более 1500 предпринимателей прошедших через
                          программу, 80% из них вышло на уровень дохода 300000+
                          чистыми в месяц
                        </p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/wallet.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Годовой оборот</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>0,5 - 0,7 миллиардов рублей в год</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/employee.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Количество сотрудников</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>Блее 150</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/puzzle.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Увлечения</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          Научный подход к развитию человека в целом и
                          предпринимателя в частности, выезды на природу,
                          системный бег для здоровья.
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div class="mentors-card__mobile">
                    <div class="mentors-card__mobile-text">
                      <p>
                        <span class="block">Основные виды деятельности:</span>
                        Переработка мусора, бурение спец-установками,
                        квест-комнаты, коммерческая недвижимость.
                      </p>
                      <p><span>Годовой оборот:</span> 1,5 млрд. руб.</p>
                      <p><span>Количество сотрудников:</span>200+.</p>
                      <p>
                        <span> Увлечения: </span>Развитие предпринимателей,
                        публичные выступления, здоровый образ жизни, системность
                        во всех сферах.
                      </p>
                    </div>
                  </div>
                  <a class="mentors-card__btn btn" href="#">Подробнее</a>
                </div>
              </article>
            </li>
            <li class="mentors__slide swiper-slide">
              <article class="mentors-card">
                <a class="mentors-card__top" href="#">
                  <img src="img/mentors/1.jpg" alt="ментор" />
                </a>

                <div class="mentors-card__body">
                  <h3 class="mentors-card__title">
                    <a class="card-link" href="#">Азат Шигаев</a>
                  </h3>

                  <ul class="mentors-card__list">
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/gear.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Основные виды деятельности:</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          Переработка мусора, бурение спец-установками,
                          квест-комнаты, коммерческая недвижимость.
                        </p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/wallet.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Годовой оборот</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>1,5 миллиардов рублей</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/employee.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Количество сотрудников</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>Блее 200.</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/puzzle.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Увлечения</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          Развитие предпринимателей, публичные выступления,
                          здоровый образ жизни, системность во всех сферах.
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div class="mentors-card__mobile">
                    <div class="mentors-card__mobile-text">
                      <p>
                        <span class="block">Основные виды деятельности:</span>
                        Переработка мусора, бурение спец-установками,
                        квест-комнаты, коммерческая недвижимость.
                      </p>
                      <p><span>Годовой оборот:</span> 1,5 млрд. руб.</p>
                      <p><span>Количество сотрудников:</span>200+.</p>
                      <p>
                        <span> Увлечения: </span>Развитие предпринимателей,
                        публичные выступления, здоровый образ жизни, системность
                        во всех сферах.
                      </p>
                    </div>
                  </div>
                  <a class="mentors-card__btn btn" href="#">Подробнее</a>
                </div>
              </article>
            </li>
            <li class="mentors__slide swiper-slide">
              <article class="mentors-card">
                <a class="mentors-card__top" href="#">
                  <img src="img/mentors/2.jpg" alt="ментор" />
                </a>

                <div class="mentors-card__body">
                  <h3 class="mentors-card__title">
                    <a class="card-link" href="#">Алексей Заборовских</a>
                  </h3>

                  <ul class="mentors-card__list">
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/gear.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Основные виды деятельности:</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          cтроительство по госконтрактам, обслуживание
                          инженерных сетей, гостиницы, пищевое производство,
                          ТБО.
                        </p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/wallet.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Годовой оборот</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>0,5 - 0,7 миллиардов рублей в год</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/employee.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Количество сотрудников</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>Блее 150</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/puzzle.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Увлечения</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          туризм по самым удаленным уголкам земного шара и
                          горнолыжка. Увлекаюсь идеями радикального продления
                          жизни, биохакинга и исследованием пространства за
                          пределами человеческой жизни.
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div class="mentors-card__mobile">
                    <div class="mentors-card__mobile-text">
                      <p>
                        <span class="block">Основные виды деятельности:</span>
                        Переработка мусора, бурение спец-установками,
                        квест-комнаты, коммерческая недвижимость.
                      </p>
                      <p><span>Годовой оборот:</span> 1,5 млрд. руб.</p>
                      <p><span>Количество сотрудников:</span>200+.</p>
                      <p>
                        <span> Увлечения: </span>Развитие предпринимателей,
                        публичные выступления, здоровый образ жизни, системность
                        во всех сферах.
                      </p>
                    </div>
                  </div>

                  <a class="mentors-card__btn btn" href="#">Подробнее</a>
                </div>
              </article>
            </li>
            <li class="mentors__slide swiper-slide">
              <article class="mentors-card">
                <a class="mentors-card__top" href="#">
                  <img src="img/mentors/3.jpg" alt="ментор" />
                </a>

                <div class="mentors-card__body">
                  <h3 class="mentors-card__title">
                    <a class="card-link" href="#">Иван Кудин</a>
                  </h3>

                  <ul class="mentors-card__list">
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/gear.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Основные виды деятельности:</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          Директор по развитию бизнес клуба СистемА. В прошлом
                          Основатель проекта для предпринимателей Школа
                          Здоровья. Более 1500 предпринимателей прошедших через
                          программу, 80% из них вышло на уровень дохода 300000+
                          чистыми в месяц
                        </p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/wallet.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Годовой оборот</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>0,5 - 0,7 миллиардов рублей в год</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/employee.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Количество сотрудников</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>Блее 150</p>
                      </div>
                    </li>
                    <li class="mentors-card-item">
                      <div class="mentors-card-item__top">
                        <img
                          src="img/puzzle.png"
                          alt="gear"
                          width="20"
                          height="20"
                        />
                        <span>Увлечения</span>
                      </div>
                      <div class="mentors-card-item__text">
                        <p>
                          Научный подход к развитию человека в целом и
                          предпринимателя в частности, выезды на природу,
                          системный бег для здоровья.
                        </p>
                      </div>
                    </li>
                  </ul>
                  <div class="mentors-card__mobile">
                    <div class="mentors-card__mobile-text">
                      <p>
                        <span class="block">Основные виды деятельности:</span>
                        Переработка мусора, бурение спец-установками,
                        квест-комнаты, коммерческая недвижимость.
                      </p>
                      <p><span>Годовой оборот:</span> 1,5 млрд. руб.</p>
                      <p><span>Количество сотрудников:</span>200+.</p>
                      <p>
                        <span> Увлечения: </span>Развитие предпринимателей,
                        публичные выступления, здоровый образ жизни, системность
                        во всех сферах.
                      </p>
                    </div>
                  </div>

                  <a class="mentors-card__btn btn" href="#">Подробнее</a>
                </div>
              </article>
            </li>
          </ul>

          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
        </div>
      </div>
    </section>
  </div>

  <div class="tabs__content">
    <section class="enter">
      <div class="container">
        <h2 class="visually-hidden">Как вступить?</h2>
        <div class="enter__inner">
          <div class="enter__left">
            <ol class="enter__list">
              <li class="enter__item">
                Резидентом клуба может стать тот, кто разделяет
                <a href="#">ценности клуба</a>
              </li>
              <li class="enter__item">
                Резидентом клуба можно стать при условии уровня чистого
                ежемесячного дохода более 300 000 рублей.
              </li>
            </ol>
          </div>
          <div class="enter__right">
            <div class="enter__text">
              <p>
                Конечно цифра условная. Она означает, что резидент закрыл
                базовый уровень потребностей (жилье, еда, одежда, отдых и т.п.)
                Так же она означает что резидент созрел к дальнейшему переходу
                из стартапа в системный бизнес. Он принял решение делегировать
                все задачи своего бизнеса и оставить себе функции Владельца.
              </p>
            </div>

            <button class="enter__btn btn" type="button">
              Вступить в клуб
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
