<section class="values">
  <div class="container">
    <h2 class="values__title">Ценности</h2>
    <ul class="values__list">
      <li class="values__item">
        <img
          class="values__img"
          src="img/values/1.png"
          alt="Ценности"
        />
        <p>Системность</p>
      </li>
      <li class="values__item">
        <img
          class="values__img"
          src="img/values/2.png"
          alt="Честность"
        />
        <p>Честность</p>
      </li>
      <li class="values__item">
        <img
          class="values__img"
          src="img/values/3.png"
          alt="Твердость
        сказал - сделал"
        />
        <p>
          Твердость <br />
          сказал - сделал
        </p>
      </li>
      <li class="values__item">
        <img
          class="values__img"
          src="img/values/4.png"
          alt="Добропорядочность"
        />
        <p>Добропорядочность</p>
      </li>
      <li class="values__item">
        <img
          class="values__img"
          src="img/values/5.png"
          alt="Говорить фактами"
        />
        <p>Говорить фактами</p>
      </li>
      <li class="values__item">
        <img
          class="values__img"
          src="img/values/6.png"
          alt="Желание помогать"
        />
        <p>Желание помогать</p>
      </li>
      <li class="values__item">
        <img
          class="values__img"
          src="img/values/7.png"
          alt="Удобство жизни"
        />
        <p>Удобство жизни</p>
      </li>
      <li class="values__item">
        <img
          class="values__img"
          src="img/values/8.png"
          alt="Целостность"
        />
        <p>Целостность</p>
      </li>
    </ul>
  </div>
</section>
