<section class="values">
  <div class="container">
    <h2 class="values__title">Ценности</h2>
    <ul class="values__list">
      <li
        class="values__item"
        data-ftext="Выполнение человеком ежедневно повторяющихся действий, которые приводят к какому-либо результату: в сфере здоровья и бизнеса, в жизни."
      >
        <img
          class="values__img"
          src="images/content/values/1.png"
          alt="Ценности"
        />
        <p>Системность</p>
      </li>
      <li
        class="values__item"
        data-ftext="Быть честным с самим собой и с людьми вокруг, не казаться лучше, чем ты есть на самом деле."
      >
        <img
          class="values__img"
          src="images/content/values/2.png"
          alt="Честность"
        />
        <p>Честность</p>
      </li>
      <li
        class="values__item"
        data-ftext="Выполнение поставленной задачи в срок"
      >
        <img
          class="values__img"
          src="images/content/values/3.png"
          alt="Твердость
        сказал - сделал"
        />
        <p>
          Твердость <br />
          сказал - сделал
        </p>
      </li>
      <li
        class="values__item"
        data-ftext="Добропорядочность – любые действия, совершенные от души, ради своего счастья и счастья других, формирование отношений на основе доверия и честности, постоянная забота о сохранении собственной чести."
      >
        <img
          class="values__img"
          src="images/content/values/4.png"
          alt="Добропорядочность"
        />
        <p>Добропорядочность</p>
      </li>
      <li class="values__item" data-ftext="Умение мыслить и говорить цифрами">
        <img
          class="values__img"
          src="images/content/values/5.png"
          alt="Говорить фактами"
        />
        <p>Говорить фактами</p>
      </li>
      <li
        class="values__item"
        data-ftext="Желание передавать свои знания другим предпринимателям, и желание помогать людям: благотворительность, детские дома."
      >
        <img
          class="values__img"
          src="images/content/values/6.png"
          alt="Желание помогать"
        />
        <p>Желание помогать</p>
      </li>
      <li
        class="values__item"
        data-ftext="Возможность делать свое окружение удобных и комфортным, для того чтобы каждый день чувствовать счастье."
      >
        <img
          class="values__img"
          src="images/content/values/7.png"
          alt="Удобство жизни"
        />
        <p>Удобство жизни</p>
      </li>
      <li
        class="values__item"
        data-ftext="Соблюдение баланса во всех сферах жизни: в здоровье, в семье и с людьми вокруг."
      >
        <img
          class="values__img"
          src="images/content/values/8.png"
          alt="Целостность"
        />
        <p>Целостность</p>
      </li>
    </ul>
  </div>
</section>
